<% provide(:title, "Welcome") %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

    <h2>
	    This is the home page for the
		<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
			    sample application.
	</h2>

    <ul>
		<li>
			<%= link_to(home_path, {:class => "btn btn-lg btn-social btn-facebook"}) do %>
				<i class="fa fa-facebook"></i> Sign in with Facebook
			<% end %>
		</li>
		<li>
			<%= link_to "Sign up with email", new_user_path, class: "btn btn-lg btn-primary" %>
		</li>
		<li>
			<a class="btn btn-block btn-large btn-social btn-facebook">
				<i class="fa fa-facebook"></i> Sign in with Facebook
			</a>
		</li>
	</ul>
</div>
